body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    margin-bottom: 3%;
    margin-top: 2%;
}

.half_width{
    width: 50%;
    margin-left: 2%;
    margin-right: 2%
}

.heading_one{
    font-size: 60px;
}


.top_img{
    float: right;
}

.paragrph_text{
    font-size: 25px;
    margin-bottom: 60px;
    text-align: justify;
}

.blue_text{
    color: #0099ff;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(to right, #99d6ff,#0099ff);
    padding: 15px 35px;
    border-radius: 50px;
    color: white;    
}

.heading_two{
    font-size: 35px;
}



.about{
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.recipiestop{
    width: 100%;
    text-align: center;
}

.one_third{
    width: 33.33%;
}

.card{
    width: 55%;
    height: 600px;
    padding: 15px;
    margin: auto;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

.card h3{
    font-weight: bolder;
    font-size: 25px;
}

.card img{
    width: 100%;
    border-radius: 5%;
}

footer{
    width: 100%;
    height: 150px;
    background-color: #00001a;
    text-align: center;
    color: white;
    padding: 20px;
}

footer p{
    margin-bottom: 10px;
}

.one_third h1{
    text-align: center;
}

.showoff p{
    text-align: center;
}

.newsteller{
    margin: auto;
    text-align: center;
}

.showoff input{
    padding: 10px;
    height: 30px;
    width: 300px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.showoff{
    background-image: url(images/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.feedback .heading_two{
    text-align: center;
}

.feedback img{
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 5px solid lightblue;
    border-radius: 50%;
}

.feedback .card{
    height: 500px;
    border-left: 5px solid #0099ff;
}
